[Unit]
Description=Memory Game

[Service]
Type=simple
User=elixirpractice
Group=elixirpractice
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/elixirpractice/CS5610-HW04/
ExecStart=bash /home/elixirpractice/CS5610-HW04/start.sh

[Install]
WantedBy=multi-user.target
